[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vimfiles/bundle/FuzzyFinder"]
	path = vimfiles/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "vimfiles/bundle/l9"]
	path = vimfiles/bundle/l9
	url = https://github.com/eparreno/vim-l9
[submodule "vimfiles/bundle/vim-airline-themes"]
	path = vimfiles/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
